.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body{
  min-height: 100vh;
  color: #802bb1;
  box-sizing: border-box;
}

.App-header {
  min-height: 6vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #802bb1;
  box-shadow: 2px  1px rgba(128, 128, 128,0.3);
}
.App-header h5{
  margin: 2%;
}

.App-link {
  color: #802bb1;
}

.list-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ebe9eb;
  width: 90%;
}

